.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.LandingPage {
  height: 100vh;
}

.InfoPage {
  background-color: white;
  min-height: 100vh;
  /*justify-content: center;*/
  
  color: #c81539;
}
.Info-Col {
  min-height: 100vh;
}
.Info-Left {
  background-color: gray;
}
.Info-Right {
  background-color: teal;
}
.Info-Header {
  font-size: calc(22px + 3vmin);
}
.Info-Text {
  font-size: calc(10px + 1.5vmin);
}
.Info-Spacing {
  padding: 15vh;
}
.App-header {
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #c81539;
}
.Info-Left-Content {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin: 10vh;


}

