.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}
.LandingPage {
  height: 100vh;
  max-width: 100vw;
}

.App-header {
  background-color: white;
  min-height: 100vh;
  max-width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #c81539;
}
.InfoPage {
  background-color: white;
  min-height: 100vh;
  /*justify-content: center;*/
  
  color: #c81539;
}
.SponsorPage {
  background-color: white;
  min-height: 100vh;
  /*justify-content: center;*/
  
  color: #c81539;
}
.Info-Left-Thick, .Info-Right-Thick{
  display:flex;
  flex-direction:row;
}
.Info-Col {
  min-height: 100vh;
}
.Info-Header {
  font-size: calc(19px + 2.5vmin);
}
.Info-Text {
  font-size: calc(8px + 1.1vmin);
  color: gray;
}
.Info-Question {
  font-size: calc(7px + 1.1vmin);
  font-weight: bold;
  color: #c81539;
  margin-top: 1vh;
  margin-bottom: 1vh;
}
.Info-Answer {
  font-size: calc(6px + 1vmin);
  color: gray;
  margin-top: 1vh;
  margin-bottom: 1vh;
}
.Info-Left-Content {
  text-align: left;
  margin-top: 15vh;
  margin-bottom: 15vh;
}
.Info-Left-Gutter {
  min-height: 100vh;
  width: 10vh;
  min-width: 5vw;
  max-width: 20vw;
  float: none;
}
.Info-Right-Thick {
  margin-top: 5vh;
  margin-bottom: 5vh;
  max-height: 90vh;
  border-style: dashed;
  border-color: #c81539;
  border-width: 4px;
}
.Info-Right-Gutter {
  min-height: 100vh;
  width: 10vh;
  max-width: 20vw;
  float: none;
}
.Info-About-General {
  min-height: 35vh;
}
.Info-About-Specific {
  min-height: 35vh;
}
.Info-Right-Content {
  text-align: left;
  min-height: 80vh;
  display: flex;
  flex-grow: row;
  
}
.Info-FAQ-Header {
  margin-bottom: 0;
}
.Info-FAQ-Text {
  margin-top: 0;
  margin: 3vh;
  
}
.Sponsors-Email {
  color: #c81539;
}
.Info-Email {
  color: #c81539;
}
.Sponsor-Header {
  font-size: calc(22px + 3vmin);
  padding: 5vw;
}
.Sponsor-Text {
  font-size: calc(10px + 1.5vmin);
  color: gray;
  padding: 10vw;
}
body{
  font-family: p22-underground, sans-serif;
}
.fab {
  margin: 20px;
  color: lightgray;
}
.social_media {
  position: absolute;
  right: 0;
}
.Info-FAQ-Top-Row {
  margin-bottom: 3vh;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.Info-FAQ-Select:focus {
  outline: 0;
}
.Info-FAQ-Select:hover {
  cursor: pointer;
}
.Info-FAQ-Select {
  outline: 1px;
  outline-color: #c81539;
  border: 0px;
  border-color: #c81539;
  border-radius: 2px;
  padding: 4px 10px;
  margin: 10px;
}
.FAQ-Selected-B {
  color: white;
  background-color: #c81539;
}
.FAQ-General-B {
  margin-left: 30px;
}
.FAQ-Unselected-B {
  background-color: lightgray;
  color: #c81539;
}
.hide-this {
  display: none;
}
