.schedulePage {
    max-height: 100%;
    height: 100%;
}
.schedule {
    max-height: 90%;
    height: 90%;
}
.schedText {
    margin: 0;
    padding: 0;
    width: auto;
}
.schedData {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}
